body {
  font-family: "Montserrat";
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
  
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid {
  padding: 7% 15% 7% 15%;
  
}

/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: #fff;
 
  
}

.white-section {
  background-color: #fff;
}
/* Adjust the spacing between sections and center the content in mobile mode */



/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
  justify-content: center;
  display: flex;
  align-items: center ;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}


/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;

}

.col-lg-6 {
  display: inline;
}

#inline {
  display: inline;
}

/* Title Section */

#title {
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
 
}

#title .container-fluid {
  padding: 3% 15% 7%;
  
}

/* Title Image */
.title-image {
  width: 400px; /* Adjust the desired width */
  height: 500px; /* Adjust the desired height */
  transform: rotate(25deg);
  position: absolute;
  right: 10%;
}

@media (max-width: 767px) {
  .title-image {
    width: 400px; /* Adjust the desired width for mobile */
    height: 500px; /* Adjust the desired height for mobile */
    transform: none; /* Remove rotation for mobile devices */
    position: relative;
    right: auto;
  }
}


/* Features Section */

#features {
  position:relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
  
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonial Section */

#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.colored-section1{
  display: flex;
  justify-content: center;
  align-items: center;
}
#press {
  background-color:#ef8172;
  display: flex;
  align-items: center;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}



/* Pricing Section */

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
  color: black;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}
h3{
  color: black;
  text-align: center;
  margin: 0%;
}


/* CTA Section */
.button-container {
  display:inline-block;
  justify-content: center;
  
}


/* Footer Section */

.social-icon {
  background-color: #ff4c68;
  font-size: 24px;
  margin-right: 10px;
}

#footer {
  /* Add your desired styles for the footer */
  /* For example: */
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
}
#year{
  color: #ff4c68;
}




/* signup css */
.container {
  width: 300px;
  padding: 16px;
  background-color: white;
  margin: 1px auto;
  margin-top: 100px;
  border: 1px solid black;
  border-radius: 5px;
}

input[type=text],
input[type=password],
input[type=tel],
input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
}

button {
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
}

.signbg {
  background-color: #ff4c68;
}

/*login form */
.container {
  width: 300px;
  padding: 16px;
  background-color: #f2f2f2;
  margin: 0 auto;
  margin-top: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
b{
  color: black;
}
input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
}

button {
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.loginbg {
  background-color:  #ff4c68;
}

/* ctg */
body {
  background-color: #ff4c68;
  color: white;
  font-family: "Montserrat";
  text-align: left;
}

figure {
  display: block;
  justify-content: baseline;
  align-items: center;
  text-align: center;
  border: 3px solid black;
  padding: 10px;
  background-color: #ef8172;
}

.imr {
  width: 300px;
  height: 200px;
}

figcaption {
  font-size: 12px;
  color: black;
}

.button-container {
  display: block;
  justify-content: center;
  margin: auto;
  width: 250px;
  cursor: pointer;
  align-items: center;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-to-cart-btn {
  background-color: #008CBA;
  color: #FFFFFF;
}

.buy-now-btn {
  background-color: #4CAF50;
  color: #FFFFFF;
}

p {
  font-size: 20px;
  color: black;
  text-align: center;
}
.aext{
  display: flex;
justify-content: center;
align-items: center;
}
